<!DOCTYPE html>
<html>
    <head>
        <title>classification-compare</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/style.css">
        <style>
            td {
    height: 50px;
    vertical-align: center;
}
            th, td {
    padding: 15px;
    text-align: left;
}
th, td {
    border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #FAEBD7}
tr:nth-child(even) {background-color: #f2f2f2}
th {
    background-color: #7FFFD4;
    color: white;
}

        </style>
    </head>
    <body>
<div class="container">
<table style="width:100%">
  <tr>
    <th><h1>Classification Name</h1></th> 
    <th><h1>Accuracy</h1></th>
    <th><h1>Image</h1></th>
  </tr>
 <%for(var i=0;i<obj.length; i++){%>

 <tr>
 	
 	<td><h2><%=obj[i].name%></h2></td>
 	<td><h2><%=obj[i].accuracy%></h2></td>
 	<td><img style="height: 300px; width: 300px; " src="<%=obj[i].plot%>"></td>
 </tr>
 <%}%>
</table>
</div>
</body>